.container {
    max-width: 800px;
    margin: auto;
  }
  
  h2 {
    color: #007bff;
    font-weight: bold;
  }
  
  .table th,
  .table td {
    text-align: center;
    vertical-align: middle;
  }
  